<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="{{.BaseURL}}bootstrap.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.BaseURL}}pure.css">
    <script type="text/javascript" src="{{.BaseURL}}jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="{{.BaseURL}}underscore.js"></script>
    <script type="text/javascript" src="{{.BaseURL}}jsv.js"></script>
    <script type="text/javascript" src="{{.BaseURL}}jsonform.js"></script>
    <script type="text/javascript" src="{{.BaseURL}}form.js"></script>
    {{.AppendHTMLHead}}
</head>
<body>

{{.PrependHTML}}

<div style="margin-top:2em">

{{range $i, $val := .Params}}
{{$val.BeforeForm}}
<div class="pure-u-xl-2-5" style="padding:0 2em;" id="form-container-{{$val.Name}}">
    <h1 id="form-title-{{$val.Name}}"></h1>
    <div id="form-description-{{$val.Name}}" class="form-description"></div>
    <form id="schema-form-{{$val.Name}}" class="pure-form"></form>
    <div style="display: none" id="form-result-{{$val.Name}}" class="alert"></div>
</div>
{{$val.AfterForm}}
{{end}}

</div>

{{.AppendHTML}}

<script type="text/javascript">
{{range $i, $val := .Params}}
(function(){
    /**
     * @type {formParams}
     */
    var params = {{$val}};
    var form = new JSONForm();
    form.setFormElement($('#schema-form-{{$val.Name}}'));
    form.setTitleElement($('#form-title-{{$val.Name}}'));
    form.setDescriptionElement($('#form-description-{{$val.Name}}'));
    form.setResultElement($('#form-result-{{$val.Name}}'))
    {{if $val.OnSuccess}}
    params.onSuccess = {{$val.OnSuccess}}
    {{end}}
    {{if $val.OnFail}}
    params.onFail = {{$val.OnFail}}
    {{end}}
    {{if $val.OnError}}
    params.onError = {{$val.OnError}}
    {{end}}
    {{if $val.OnBeforeSubmit}}
    params.onBeforeSubmit = {{$val.OnBeforeSubmit}}
    {{end}}
    {{if $val.OnRequestFinished}}
    params.onRequestFinished = {{$val.OnRequestFinished}}
    {{end}}
    form.make(params);
})();
{{end}}

</script>
</body>
</html>