<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{.Title}}</title>
    <base href="{{.BaseURL}}">
    <link rel="stylesheet" type="text/css" href="bootstrap.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pure.css">
    {{.AppendHTMLHead}}
</head>
<body>

{{.PrependHTML}}

<div style="margin:2em">

{{range $i, $val := .Params}}
<div class="pure-u-2-5" style="margin-right:2em">
    <h1 id="form-title-{{$i}}"></h1>
    <form id="schema-form-{{$i}}" class="pure-form"></form>
    <div id="form-result-{{$i}}" class="alert"></div>
</div>
{{end}}

</div>

{{.AppendHTML}}

<script type="text/javascript" src="jquery-3.6.3.min.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="jsv.js"></script>
<script type="text/javascript" src="jsonform.js"></script>
<script type="text/javascript" src="form.js"></script>
<script type="text/javascript">
{{range $i, $val := .Params}}
(function(){
    /**
     * @type {formParams}
     */
    var params = {{$val}};
    var form = new JSONForm();
    form.setFormElement($('#schema-form-{{$i}}'));
    form.setTitleElement($('#form-title-{{$i}}'));
    form.setResultElement($('#form-result-{{$i}}'))
    {{if $val.OnSuccess}}
    params.onSuccess = {{$val.OnSuccess}}
    {{end}}
    {{if $val.OnFail}}
    params.onFail = {{$val.OnFail}}
    {{end}}
    {{if $val.OnError}}
    params.onError = {{$val.OnError}}
    {{end}}
    form.make(params);
})();
{{end}}

</script>
</body>
</html>